{% extends 'adminHome.html' %} {% block content %}


<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
    <!-- <h2>Report</h2> -->
    <p><span></span> <span class="description-title">Report<br></span></p>
  </div><!-- End Section Title -->

  <div class="container">
    <form method="GET">
        {% csrf_token %}
        <label for="month">Select Month:</label>
        <input type="month" id="month" name="month" value="{{ selected_month }}">
        <button type="submit" class="btn btn-warning">Filter</button>
        <button onclick="window.print()" class="btn btn-success">Print</button>
      </form>

      <!-- Show error message if there's an error -->
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <!-- Display Growth Report -->
      <h3>Total Price : {{ growth_total_price }}</h3>
    <div class="row gy-4">
      
        <table class="table table-striped table-bordered text-center align-middle shadow">
          <tr class="table-dark">
          <th>SL.NO</th>
          <th>DATE</th>
          <th>FOOD</th>
          <th>IMAGE</th>
          <th>DESCRIPTION</th>
          <th>CUSTOMER</th>
          <th>SUPPLIER</th>
          <th>COUNT</th>
          <!-- <th>PRICE(1 No.)</th> -->
          <th>TOTAL</th>
          <th>STATUS</th>
         
          </tr>
          {% for i in bok %}
          
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.book_date }}</td>
              <td>{{ i.food.name }}</td>
              <td><img src="/static/media/{{ i.food.image }}" width="130px" alt=""></td>
              <td>{{ i.food.desc }}</td>
              <td>{{ i.cust.name}}</td>
              <td>{{ i.food.user.comapny_name}}</</td>
              <td>{{ i.count }}</td>
              <!-- <td>{{ i.Product.price }}</td> -->
              <td>{{ i.total }}</td>
              <td>{{ i.status }}</td>
              <!-- <td>{{ i.status }}</td> -->
              <!-- <td><a href="/shopChat?oid={{ i.id }}" class="btn btn-info">Chat</a></td>
              
              <td>
                {% if i.status != "Assigned" %}
                <form action="" method="post">
                  {% csrf_token %}
                  <select name="boy" id="">
                {% for j in boy %}
                <option value="{{ j.id }}">{{ j.name }}</option>
                {% endfor %}
              </select>
              <input type="text" name="bid" id="" value="{{ i.id }}" hidden> <br>
              <center><button type="submit" class="btn btn-primary">Assign</button></center>
              </form>
              {% else %}
              Assigned
              {% endif %} -->
            </td>
          
          </tr>
          
          {% endfor %}
      </table>
     

    </div>

  </div>

</section><!-- /Services Section -->


{% endblock %}