{% extends 'supplierHome.html' %} 
{% block content %}


<!-- User Registration Section -->
<section id="register" class="register section">
    
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2></h2>
        <p><span>Upload</span> <span class="description-title">Nutrition Guidence</span></p>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="card shadow-lg border-0 rounded-3 p-4 w-50 mx-auto">
            <form action="" method="post" enctype="multipart/form-data" class="registration-form needs-validation" novalidate data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
                <div class="row g-3">
                    
                    <div class="col-12">
                        <input type="text" id="name" name="goal" class="form-control" placeholder="Enter nutrition goal" required>
                    </div>
                    
                    <div class="col-12">
                        <input type="file" id="name" name="file" class="form-control" placeholder="Image" required>
                    </div>
                   
                    
                    
                    <div class="col-12 text-center mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2></h2>
        <p><span>Uploaded</span> <span class="description-title">Guidence</span></p>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class=" rounded-3 p-4 w-100 mx-auto">
            <table class="table table-striped table-bordered text-center align-middle shadow">
                <tr class="table-dark">
                <th>SL.NO</th>
                <th>DATE</th>
                <th>GOAL</th>
                <th>VIEW FILE</th>
               
                </tr>
                {% for i in data %}
                
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.goal }}</td>
                    <td><a href="/guidenceOpen?file={{ i.file }}">📂Open file</a></td>
                  </td>
                
                </tr>
                
                {% endfor %}
            </table>
           
        </div>
    </div>


    

    

    


    
</section>
<!-- End User Registration Section -->

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        alert("Please fill all required fields before submitting!");
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


{% if messages %}
{% for i in messages %}
<script>
  alert("{{ i }}")
</script>
{% endfor %}
{% endif %}

{% endblock %}