{% extends 'supplierHome.html' %} 
{% block content %}

<!-- Users Management Section -->
<section id="users" class="users section">

    <!-- Section Title -->
    <div class="container section-title text-center" data-aos="fade-up">
        <!-- <h2 class="fw-bold">Cart</h2> -->
        <p><span>View</span> <span class="description-title">Orders<br></span></p>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            <div class="col-md-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                
                    <div class="card-body text-center ">
                        
                           
                                <table class="table table-striped table-bordered text-center align-middle shadow">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>DATE</th>
                                            <th>FOOD</th>
                                            <th>IMAGE</th>
                                            <th>CUSTOMER</th>
                                            <th>PHONE</th>
                                            <th>ADDRESS</th>
                                            <th>COUNT</th>
                                            <th>PRICE</th>
                                            <th>TOTAL</th>
                                            <th>STATUS</th>
                                            <th>ASSIGN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                        {% if i.status != "CART" %}
                                        <tr>
                                            <td>{{ i.book_date }}</td>
                                            <td>{{ i.food.name }}</td>
                                            <td><img src="static/media/{{ i.food.image }}" width="130" alt=""> </td>
                                            <td>{{ i.cust.name }} </td>
                                            <td>{{ i.cust.phone }} </td>
                                            <td>{{ i.cust.address }} </td>
                                            <td>{{ i.count }}</td>
                                            <td>{{ i.food.price }}</td>
                                            <td>{{ i.total }}</td>
                                            <td>{% if i.status == "Completed" or i.status == "Feedback Completed" %}
                                                Completed
                                                {% else %}
                                                {{ i.status }}
                                                {% endif %}
                                            </td>
                                            <td>{% if i.status == "Booked" %}
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <select name="boy" class="form-select">
                                                        <option value="">Select a Delivery Boy</option>  <!-- Placeholder Option -->
                                                        {% for j in boy %}
                                                            <option value="{{ j.id }}">{{ j.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                  <input type="text" name="bid" id="" value="{{ i.id }}" hidden> <br>
                                                  <button type="submit" class="btn btn-primary">Assign</button>
                                                </form>
                                                {% else %}
                                                Assigned to {{ i.boy.name }}
                                                {% endif %}
                                            </td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                            
                        
                        
                    </div>
              
            </div>
        </div>
    </div>
</section>
<!-- End Users Management Section -->

{% if messages %}
{% for i in messages %}
<script>
  alert("{{ i }}")
</script>
{% endfor %}
{% endif %}


{% endblock %}





